.tabItemText {
     width: -webkit-max-content;
     width: -moz-max-content;
     width: max-content;
     padding-left: 2px;
     padding-right: 2px;
     /* max-width: 45%; */
}


.tabItem {
     width: -webkit-max-content;
     width: -moz-max-content;
     width: max-content;
     max-width: 45%;
	 
}

.mainMenuItem {
    width: 25%;
    margin-left: auto;
    margin-right: auto;
/*     padding-left: 1em;
     padding-right: 1em; */
     text-align: center;
}

.mainSubmenu {
     max-width: 100%;
     width: -webkit-max-content;
     width: -moz-max-content;
     width: max-content;
     padding-right: 1em;
}

.mainSubmenuItem {
     width: -webkit-max-content;
     width: -moz-max-content;
     width: max-content;
}

/*
.mainMenuItemText {
     width: -webkit-max-content;
     width: -moz-max-content;
     width: max-content;
     padding-left: 2px;
     padding-right: 2px;
}
*/
